*{padding:0;margin: 0;}
body{margin:0;padding:0;font-family:'微軟正黑體';position:relative;}
/*header*/
header{width:100%;text-align:center;background-color:#d1a9a9;position:fixed;top:0;z-index:3;}
header .wp{max-width:1000px;width:100%;height:40px;margin:0 auto;
display:flex;justify-content:space-between;align-items:center;position:relative;}
header h1{height:40px;font-size:1rem;background-color:#fff;color:transparent;}
header .wp img{width:auto;height:70px;background-size:contain;position:absolute;top:3px;left:5%;}
header .up{position:absolute;right:5%;}
header .up a{margin:0 auto;color:#fff;text-decoration:none;display:inline-block;width:70px;}
header .up a:hover{color:#c34444;}
header .up span{color:#fff;}
header .menu,header nav{display: none;}
header .menu{position:fixed;top:79px;width:100%;z-index:3; flex-direction:column;justify-content:center;align-items:center;}
header .menu a{display:block;width:100%;font-size:1rem;color:#bca8a8;background-color:#fff;text-decoration:none;flex:1;}
header nav{width:30px;height:40px;cursor:pointer;display:none;position:absolute;right:15px;top:7px;}   
header nav span{position: absolute;display: block;width:25px;height:2px;background-color:#fff;
-webkit-transition: all .3s ease 0s;transition: all .3s ease 0s;}
header nav span:nth-of-type(1){top:2px;}
header nav span:nth-of-type(2){top:12px;}
header nav span:nth-of-type(3){top:22px;}
header nav.menuOpen span:nth-of-type(1){top:12px;transform: rotate(45deg);-webkit-transform: rotate(45deg)}
header nav.menuOpen span:nth-of-type(2){width:0;right:0}
header nav.menuOpen span:nth-of-type(3){top:12px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg)}
header .bg{width:100%;position:absolute;top:0;left:0;z-index:2;display:none;}
/*main*/ 
#main{margin-top:80px;width:100%;padding:40px 0;}
#main .wp{width:100%;margin:40px auto;}

/*footer*/
footer{text-align:center;font-family:'Cookie';background-color:#39363c;color:white;
    font-size:13px;line-height:13px;padding: 15px 0;}


@media(max-width:790px){
    header .wp img{margin-top:30px;padding-right:20px;position:relative;left:35%;}
    header nav{display: block;}
    header .up{display: none;}
    header h1{margin: 0 auto;}
    body{position: relative;}
    header{position: fixed;top:0;z-index:3;}
}
@media(max-width:630px){
    #main .wp{margin: 20px auto 40px;}
}
@media(max-width:580px){
    header .wp img{left: 30%;}
}
@media(max-width:500px){
    header .wp img{left: 26%;}
}
@media(max-width:430px){
    header .wp img{left: 22%;}
}
@media(max-width:375px){
    header .wp img{left: 20%;}
}
@media(max-width:350px){
    header .wp img{left:15%;}
}
@media(max-width:320px){
    header .wp img{left:10%;}
}
