#main{margin-top:80px;}
.row1{height:180px;text-align:center;background:url(../img/bg/pink2.png) no-repeat right;background-size:contain;padding:40px 0;margin-bottom:40px;
box-sizing:border-box;}
.row1 p{width:50%;margin:0 auto;line-height:3rem;color:#777;}
.r1{padding:20px 0;;background:url(../img/bg/pink1.png) no-repeat left bottom;background-size:contain;}
.r .wp{max-width:1000px;width:100%;margin:0 auto;display:flex;justify-content:center;align-items:center;}
.r1 .wp img{width:50%;object-fit: contain;}
.r1 .wp p{width:40%;line-height:2rem;margin-left:5%;color:#777;}
.nopadding{margin-left: 0;margin-right: 5%;}
a.btn{display:block;width:100px;line-height:2rem;text-align:center;margin:20px auto;border-bottom:2px solid #796868;background-color:#999;color:#fff;font-size:1rem;text-decoration:none;padding: 0 5px;} 
    a.btn:hover{color:#c34444;}
    .r2>p{text-align: center;color: #c99494;margin-top:40px;font-size:1.2rem;}
    #main .r2 .wp{display:flex;justify-content:center;align-items:center;margin:20px auto 40px;}
    .r2 .wp content{margin:20px 10px;}
    .r2 .wp content img{width:230px;height:180px;object-fit: cover;}   
    .r3 .wp{display:block;text-align:center;}
    .r3 .wp img {width:100%;margin:0 auto;} 
.r1 .wp p .title{display:block;width:120px; font-size:1.5rem;font-weight:500;text-align: center;margin:0 auto 20px;background-color:#d1a9a9;color:#fff;border-radius: 5px;padding:5px 0; }
.r1 .wp p .text{background-color: #fff;color:#c99494; }
    .r3 .wp p span{color: #777;}
    
    @media(max-width:950px){
        #main{margin-top:40px;}
    }
    @media(max-width:630px){
        .r2 .wp content{margin:20px 3px;}
    }
    @media(max-width:600px){
        .row1 p{width: 60%;}
        .r2 .wp content img{width: 160px;height: 160px;}
    }
    @media(max-width:500px){
        .row1 p{width:70%;}
        .r .wp{flex-direction: column;}
        .r1 .wp .image,.r2 .wp content img{width: 300px;height: 300px;}
        .r1 .wp p{width: 60%;margin: 20px auto;}
        .r1 .wp p span{background-color: rgba(255, 255, 255, 0.5);}
        .r3 .wp img{width: 120%;}
        .r3 .wp{overflow:hidden;}
    }
    @media(max-width:414px){
        .r2 .wp content img{width:300px;height: 250px;}
        .row1 p{width:80%;}
        .r1 .wp p{width:70%;}
        .r3 .wp img{width: 150%;}
    }
    @media(max-width:375px){
        .row1 p{width:90%;}
    }
    @media(max-width:320px){
        .r1 .wp p{width:80%;}
         .row1 p{width:98%;font-size:0.8rem;}
    }