@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);/*font-family: 'cwTeXHei', sans-serif;黑體*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexkai.css);/*font-family: 'cwTeXKai', serif;楷體*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);/*font-family: 'cwTeXYen', sans-serif;圓體*/
*{margin:0;padding:0;} 
body{margin:0 auto;padding:0;max-width:1280px;width: 100%; min-width:270px;font-family: '微軟正黑體','Microsoft JhengHei','cwTeXHei', sans-serif;background-color:white;position: relative;}
body ul, body li{list-style: none;padding: 0;margin: 0;}
body a{text-decoration: none;}
input:focus{outline:none}
select::-ms-expand { display:none;} 
/*line fb*/
a.line{background:url(../icon/png/line.png) no-repeat center;background-size:contain;width: 27px;}
.flaticon-line-logo:before,.flaticon-facebook-logo:before{content:'';}
a.fb{background:url(../icon/png/facebook.png) no-repeat center;background-size:contain;width:27px;}
/*header*/
header{max-width:1280px;width: 100%; min-width:270px;height:auto;position:relative;margin: 0 auto;}
#logo{position:fixed;z-index:4;top:0;max-width: 1280px; width:100%;height:40px;margin:0 auto;padding:10px 0;background: -webkit-linear-gradient(#a22b2b, #c73e3e);background: linear-gradient(#a22b2b,#c73e3e);display: flex;justify-content: space-between;align-items: center;}
/*logo*/
#logo h1{height:40px;width:180px;margin-left: 10px;background:url(../img/logo.png) no-repeat left center;background-size:contain;}
/*menu*/
#logo #menu1{height:auto;width: auto; position:relative;z-index:4;display: none;}
#logo #menu1 nav{width:30px;height:40px;background: url(../icon/png/menu_white.png) no-repeat center;background-size:contain;cursor:pointer;display: none;margin-left: 5px;}   
#proudect_m{height:auto;background-color:transparent;display:flex;flex-direction: column;z-index:6;text-align: center;margin:0 auto;position:fixed;top:50px;display: none;max-width:1280px;width: 100%;}
.bg_m{z-index:5;display:none;background-color:rgba(0, 0, 0, 0.02);position:fixed;top:0;left:0;width:100%;}
#proudect_m .navP1{width:100%;line-height:50px;height:50px;background-color:rgba(0, 0, 0, 0.87);color:#fff;font-weight:normal;font-size:1rem;border-bottom:1px solid #fff;position: relative;}
#proudect_m .navP1>a{color:#fff;font-weight:normal;font-size:1rem;height:100%;width:100%; display:inline-block;}
#proudect_m .navP2{background-color:rgba(0, 0, 0, 0.87);border-top:1px solid #ddd;border-bottom:1px solid #ddd;line-height:50px;font-size:1rem;display:none;max-width:1280px;width:100%;text-align:center;box-sizing:border-box;}
#proudect_m .navP2 li{font-weight: normal;font-size: 1rem;color: #fff;text-align: center;line-height: 32px;height: 100%;width:100%;text-align: left;padding: 3px;position: relative;border-bottom: 1px solid #fff;}
#proudect_m .navP2 li:last-child{border: 0;}
#proudect_m .navP2 li>a{color:#fff;font-weight:normal;font-size: 1rem;text-align: center; line-height:32px;height: 100%;width:100%;padding:3px;box-sizing: border-box; display: inline-block;}
#proudect_m .navP2 li>a:hover{color: #f44336;} 
#proudect_m .navP1:last-child:after{content: '';}
#proudect_m .navP1:hover,
#proudect_m .navP1:hover a,
#proudect_m .navP1>a:hover{cursor: pointer;background-color: #ddd;color: #f44336;}
#proudect_m .navP1:hover .navP2 a{background-color:transparent;color: #fff;}
#proudect_m .navP1:hover .navP2 li:hover a{color:#f44336;}
#proudect_m .navP1:hover .navP2 li:hover .navP3 a{color:#fff;}
#proudect_m .navP1:hover .navP2 li:hover .navP3 li:hover a{color:#f44336;}
#proudect_m .navP1:active , #proudect_m .navP1:active a,
#proudect_m .navP1>a:active{background-color:#ddd;color: #f44336;border: 0;}
/*#proudect_m .navP1:hover .navP2{ display:block;}*/
#proudect_m .navP2 li:hover,
#proudect_m .navP2 li:active{background-color:#ddd ;color:#f44336;border-left:1px solid #fff;}
#proudect_m .navP3{position: absolute;left:100%;top:0;background-color:rgba(0, 0, 0, 0.78);line-height:24px;font-size:1rem; width:160px;text-align:left;box-sizing:border-box;display: none;}
#proudect_m .navP3 li>a{color: #fff;font-weight:normal;font-size: 1rem;text-align: center; line-height:32px;height: 100%;width:100%;text-align:left; padding:3px;box-sizing: border-box;}    
/*#proudect_m .navP2 li:hover .navP3{ display:block;}*/
/*other*/
#logo .other{width: 80%;margin-right:5px;display: flex;justify-content: flex-end;align-items: center;}
#logo .other .my {display: none;}
#logo .other .my a{color:#fff;padding: 0;}
#logo .other .serchM{display: none;}
/*登入*/
#logo #login{margin:0;padding: 0;display:flex;justify-content:flex-end;align-items: center;height:40px;}
#logo #login a{text-decoration: none;color:#fff;margin: 0 5px;display: inline-block;height:40px;line-height:40px;font-size: 1.6rem;}
#logo #login a:first-child{font-size: 13px;}
#logo #login a:hover{color:#ffd800;} 
#logo #login a:active{color:#ffd800;}
#logo #login a:first-child:hover{color: #fff;}
#logo #login a:first-child:active{color: #fff;}
/*search_in*/
.search_in{width: 100%;height:20px;position:fixed;top:50px;z-index:2;display: none;}
.search_in input{width: 100%;height:70px;background-color: #fff;font-size:1.8rem;}
/*#topNav*/
#topNav{position:fixed;z-index:4;top:60px;background:-webkit-linear-gradient(#fdfdfd, #f3f3f3);
background: linear-gradient(#fdfdfd, #f3f3f3); border: 1px solid #ddd;border-bottom-color: #bbb;box-sizing:border-box;max-width:1280px;width:100%;height:40px;margin:0 auto;overflow:visible;display: flex;justify-content:space-between;}
/*右上*/
.other {width:35%;display:flex;align-items:center;justify-content:flex-end;}
/*股號搜尋*/
.search {width:160px;height:24px;position: relative;border-bottom: 2px solid #383838;}
.searchM{display: none;width: 120px;height:24px;position: relative;border-bottom:2px solid #fff;margin-right: 7px;}
.searchM input{width: 120px;height:20px;background-color: transparent;border: 0;font-size: 13px;}
.search input{width:150px;height:20px;padding-left:5px; background-color:transparent;border:0;font-size: 13px;}
.flaticon-magnifier{color: #444;font-size:18px;position: absolute;right: 0;top:-1px;}/*放大鏡*/
    /*股號搜尋 input css*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #444}
::-moz-placeholder { /* Firefox 19+ */color:#444;}
:-ms-input-placeholder { /* IE 10+ */  color:#444;}
:-moz-placeholder { /* Firefox 18- */  color:#444;}
/*.search_bg*/
.search_bg{width:100%;position:absolute;top:0;left:0;z-index:1;background-color:rgba(0, 0, 0, 0.73);display: none;}
/*自選股*/
.other .my a{color:#00929f;font-weight:600;display: inline-block; height:40px;line-height:40px;padding:0 5px;margin: 0 3px;transition:all .5S;}
.other .my a:hover{color:#f44336;}
.other .my a:active{color:#f44336;}
/*第二列menu*/
#menu{height:auto;width:65%;position:relative;z-index:4;}
/*第二列選單*/    
#menu #proudect{height:auto;background-color:transparent;display:flex;justify-content:flex-start;align-items:flex-start;z-index:2;text-align: center;margin:0 auto;}
#menu #proudect .navP1{width:10%;line-height:40px;height:40px;position:relative;color:#383838;font-weight:normal;font-size: 1rem;border-right:  1px solid rgba(187, 187, 187, 0.21);}
#menu #proudect .navP1:first-child{width: 80px;}
#menu #proudect .navP1:first-child>a:after{content:url(../img/live_min.png);}
#menu #proudect .navP1>a{color:#383838;font-weight:normal;font-size: 1rem;height: 100%;display: inline-block;width: 100%;}
#menu #proudect .navP1:first-child>a{width:80px;}
#menu #proudect .navP2{ position:absolute;top:41px;left:10%;background-color:#fff;border: 1px solid #ddd;line-height:24px;font-size:1rem;display:none;width:160px;text-align:left;box-sizing:border-box;}
#menu #proudect .navP2 li{border-bottom: 1px solid rgba(187, 187, 187, 0.85);position: relative;color: #383838;font-weight: normal;font-size: 1rem;line-height: 32px;height: 100%;text-align: left;padding: 3px;}
#menu #proudect .navP2 li:hover{color:#f44336; }
#menu #proudect .navP2 li:last-child{border: 0;}
#menu #proudect .navP2 li a{color:#383838;font-weight:normal;font-size: 1rem;line-height:32px;height: 100%;width:100%;text-align:left; padding:3px;box-sizing: border-box;display: inline-block;}
#menu #proudect .navP1:hover,#menu #proudect .navP1>a:hover{cursor: pointer;border-bottom:2px solid #f44336;color: #f44336;}
#menu #proudect .navP1:active,#menu #proudect .navP1>a:active{background-color:rgba(187, 187, 187, 0.85)}
/*#menu #proudect .navP1:hover .navP2{ display:block; }*/
#menu #proudect .navP2 li:hover{background-color:rgba(239, 239, 239, 0.5) }
#menu #proudect .navP2 li:active{background-color:rgba(239, 239, 239, 0.5);color:#f44336; }
#menu #proudect .navP2 li:hover a{color:#f44336;}  
#menu #proudect .navP2 li:active a{color:#f44336;}
#menu #proudect .navP2 li:hover .navP3 a{color: #444;}
#menu #proudect .navP2 li:hover .navP3 li:hover a{color:#f44336;}
#menu #proudect .navP3{position: absolute;left: 100%;top:0;background-color:#fff;color:#444; border: 1px solid #ddd;line-height:24px;font-size:1rem; width:160px;text-align:left;box-sizing:border-box;display: none;}
#menu #proudect .navP3 li a{color:#444;} 
#menu #proudect .navP3 li:hover a{color:#f44336; }
/*#menu #proudect .navP2 li:hover .navP3{ display:block; }  */  
#menu #proudect .navP3 li:hover{background-color:rgba(239, 239, 239, 0.5) }
#menu #proudect .navP3 li:active{background-color:rgba(239, 239, 239, 0.5) }
@media(max-width:800px){ 
        #logo #menu1{position: relative;width: auto;display: block;}
        #logo #menu1 nav{display:block;}
        #logo .other .serchM{display: block;border-bottom:1px solid #fff;}
        .flaticon-magnifier{color: #fff;}
        #topNav {display: none;}
        #member>a{display:none;}
        .other {width:80%;}
        #logo .other .my ,.searchM{display:block;}
        #logo .other{margin-right:0px;}
        #logo{padding:5px 0;}
        #main {margin-top:50px;}
    /*股號搜尋 input css*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #fff}
::-moz-placeholder { /* Firefox 19+ */color: #fff;}
:-ms-input-placeholder { /* IE 10+ */  color: #fff;}
:-moz-placeholder { /* Firefox 18- */  color: #fff;}
}
@media(max-width:741px){ 
        .navP2 li a{font-size: 0.9rem;}
}
@media(max-width:700px){
        .searchM{bottom:0;}
        header{margin-bottom:0px;}
        #social{width: auto;}
       } 
@media(max-width:656px){
    .searchM{width: 20px;background-color:transparent;border-bottom:0;margin-right: 8px;}
    .searchM input{display: none;}
    /*股號搜尋 input css*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */color:#9a9a9a;}
::-moz-placeholder { /* Firefox 19+ */color:#9a9a9a;}
:-ms-input-placeholder { /* IE 10+ */  color:#9a9a9a;}
:-moz-placeholder { /* Firefox 18- */  color:#9a9a9a;}
    .searchM i{color: #fff;font-size:1.3rem;line-height: 1.6rem;cursor: pointer;}
    #logo img{height: 30px;}
}
@media(max-width:600px){
    
  #logo #login a:first-child{display: none;}
}
@media(max-width:500px){
    #menu{width: 10%;}
    .other{width: 90%;}
    #menu nav{width: 25px;}
    #social i{width: 40px;}
    #logo h1{width:150px;}
}
@media(max-width:414px){
    #logo h1{width:120px;}
    #logo .other .my a{font-size:0.9rem;}
    .searchM i{font-size:1.1rem;}
    
}
@media(max-width:375px){
    .searchM{margin: 0;}
    #logo img{margin-left: 5px;}
    #logo h1{margin-left: 5px;}
    #logo #menu1 nav{width: 20px;margin-left:1px;}
    #logo #login a{font-size:1.3rem;}
}
/*main*/
#main{min-height:900px;}
/*麵包屑*/
#main #breadcrumbs{display:flex;align-items:center;width:100%;height:30px;}
#main #breadcrumbs a{ padding:.7em 1em;color:#444;text-shadow:0 1px 0 rgba(255,255,255,.5);}
#main #breadcrumbs a:hover{color:#d10c6e;}
#main #breadcrumbs .current{font-weight:normal;background:transparent;color: #1053bf;display:inline-block; width:96px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
/*footer*/
footer{max-width: 1280px;width: 100%; min-width: 270px;height:auto; background-color:#444;padding-bottom: 10px;box-sizing: border-box;position:relative;}
#bottom1, #bottom2{display:flex;justify-content: flex-start;align-items:flex-start;text-align: center;padding-top: 10px;}
#bottom1 li{cursor: pointer;font-size:13px;line-height:15px;font-weight:normal;color:#fff;padding:3px 10px;border-right:1px solid rgba(255, 255, 255, 0.85);}
#bottom1 li:last-child{border: 0;cursor: default;}
#bottom1 li:hover{color:#ffd800;}
#bottom1 li:last-child:hover{color: #fff;}
/*購物車*/    
#bottom2 {position: relative;}    
#bottom2 #cartInfo{position:fixed;z-index:5;width:50px;height:50px;bottom:10%;right:5%;
        border-radius:50%;cursor:pointer;background-color:#fff;display:none;}
#bottom2 #cartInfo span{display:block;width:25px;height:25px;color:#f44336;background-color:transparent;text-align:center;font-size:18px;line-height: 18px;font-weight: bold;position:absolute;left:30%;top:5px;z-index:5;}
#bottom2 #cartInfo i.flaticon-tool{position:absolute;right:5%;bottom:10%;font-size:2rem;color:#f44336;}
#bottom2 #cartInfo i.flaticon-tool:before{content:"\f11c";position:absolute;top:-30px;left: -40px;}
/*TOP*/    
#bottom2 #backtop{width:45px;height:45px;background: url("../img/arrow-up_b.png") no-repeat center;background-size: contain; display: none; position:fixed; right:5%;bottom:5%;z-index:5; cursor: pointer;opacity:0.8;}
    #bottom3 {padding-top: 10px;padding-left:10px;}  
    #bottom3 .COPYRIGHT{font-size:13px;color: white;}

@media(min-width:1700px){
        #bottom2 #backtop,
        #bottom2 #cartInfo{right:15%;}
}
   @media(max-width:1340px){
        #bottom2 #backtop,
        #bottom2 #cartInfo{right: 1%;}
}
   @media(max-width:856px){
        #bottom3 .COPYRIGHT{font-size:10px;}
}
   @media(max-width:837px){
        #bottom1 li,#bottom2 li{font-size: 12px;}
}
   @media(max-width:685px){
        #bottom1 li,#bottom2 li{font-size: 10px;} 
}
@media(max-width:500px){
    #main #breadcrumbs{margin-top: 40px;}
}
@media(max-width:414px){
       #main #breadcrumbs a{ padding: .7em .6em;font-size: 13px;}
}
   @media(max-width:400px){
        #bottom1 li{padding: 3px 5px;}
}