    #block{max-width: 1280px;width: 100%; min-width: 270px;margin: 0 auto;display: flex;flex-direction: column;justify-content:center;align-items: center;}
    .group{width: 100%; padding: 10px 0; display: flex;flex-wrap: wrap; align-items:center;justify-content: space-between;}
    .group .change{text-align: right;width:115px;}
    .group .change a{display: inline-block; width:100%;height: 44px;line-height: 44px; font-size:1rem;color:#1053bf;text-decoration: none;}
    .group .change:hover a{color: crimson;}
    #button{display:flex;}
    #button .btn{max-width:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:1rem;color:#666;background-color:#89d2d3;transition:all 0.6s;margin:2px;padding:2px 4px;box-sizing:border-box;cursor:pointer;}
    #button .btn:hover{background-color:#1053bf;color: #fff;}
    .add{width:100%;padding:10px 0;display:flex;justify-content:flex-start;align-items:center; }
    .add input{width:150px;height:26px;text-align:center;}
    .add #add{font-size:1.1rem;height:30px;border: 0; color:#fff;background-color:#1B6393;transition: all 0.4s;margin-left: 5px;} 
    .add #add:hover{color: #e34040;background-color: #fff;} 
/*table*/
table.tablesorter thead tr th,table.tablesorter tbody tr th{background-color:#505050;color: #fff;width: 7.14%;text-align:center;border: 1px solid #FFF;padding:4px;}
table.tablesorter thead tr th.t_b,table.tablesorter tbody tr th.t_b{ width: 14%;}
table.tablesorter, #pad, #mobile{margin:10px 0pt 15px;font-size:0.9rem;width:100%;border:1px solid #fff;}  
table.tablesorter thead .header:nth-of-type(1){background-image: none;}
table.tablesorter thead .header, #pad  thead .header{
background-image: url(http://1.bp.blogspot.com/-xrHe_dEPLi0/VcmshQ6svgI/AAAAAAAAMUI/SfwMa2TIWV4/s1600/bg.gif);
background-repeat: no-repeat;background-position: center right;cursor: pointer;text-align: center;width: 6%;}
table.tablesorter tbody td:nth-of-type(1){text-align:center;}  
table.tablesorter tbody td{color: #3D3D3D;padding:4px;background-color:#f4f4f4;vertical-align:middle;text-align:right;box-sizing: border-box;}
table.tablesorter tbody tr.odd td {background-color:#F0F0F6;}
table.tablesorter thead tr .headerSortUp, #pad  thead tr .headerSortUp{
background-image: url(http://3.bp.blogspot.com/-Pkx-f3xa0PQ/VcmshRkh2HI/AAAAAAAAMUQ/taLjnsMkycA/s1600/asc.gif);}
table.tablesorter thead tr .headerSortDown, #pad  thead tr .headerSortDown{
background-image: url(http://4.bp.blogspot.com/-SjKOjdLNqhc/VcmshePFgtI/AAAAAAAAMUM/Q0m5U36gYeM/s1600/desc.gif);}
    .red{color: red;}
    .green{color: green;}
    /*pad*/
    #pad, #mobile{width:98%;font-size:1rem;margin:30px auto;min-height:330px;display:none;}
    #pad tbody td {color: #3D3D3D;padding:4px;background-color:#Fafafa;vertical-align:middle;text-align:right;box-sizing: border-box;}
    #pad tbody td:nth-of-type(1){text-align: center;}
    #pad tbody td.im{font-size: 1.2rem;}
    #pad tbody tr.odd td {background-color:#Fafafa;}
    /*mobile*/
    #mobile tbody tr{border-bottom: 1px solid #bbb;}
    #mobile thead tr th, #mobile tbody tr th{width:8%;border:1px solid #FFF;font-size:12px;
    padding:0 4px;text-align:center;background-color:#505050;color: #fff;height:30px;}
    #mobile tbody tr th{padding: 4px;}
    #mobile tbody td {color: #3D3D3D;padding:6px;background-color:#f7f7f7;vertical-align:middle;text-align:center;box-sizing: border-box;}
    #mobile tbody td.im{font-size: 1.2rem;}
    #mobile tbody tr.odd td{background-color:#Fafafa;}
    @media(max-width:875px){
                            table.tablesorter thead .header{width:3%;}
                            table.tablesorter thead .header:nth-of-type(2){width:2%;}
                            table.tablesorter thead .header:nth-of-type(5){width:1%;} }
    @media(max-width:870px){
                            #myTable{display: none;}
                            #pad{display: block;}   }
    @media(max-width:805px){
                            .btn{overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}}
    @media(max-width:706px){
                            #button .btn{padding: 10px;}
                            .add #add{padding: 8px;}
                            #button{flex-wrap: wrap;}
                            #pad, #mobile{min-height:400px;}
                            .add{justify-content: flex-end;}
                            .add #add{margin-right: 5px;}
}
    @media(max-width:600px){
                            #pad{display: none;}
                            #mobile{display: block;}
       #mobile.tablesorter tbody tr:nth-child(even) td,
       #mobile.tablesorter tbody tr td.line{border-bottom: 3px solid #fff;padding-bottom: 3px;box-sizing: border-box;}
}
    @media(max-width:617px){#button .btn, .add #add,{font-size:0.8rem;} }
    @media(max-width:500px){
                            #mobile tbody td.im{font-size:0.9rem;}
                            #mobile tbody td{font-size:0.9rem;}
                            #button .btn{font-size:0.9rem}
                            #main #breadcrumbs{margin-top: 40px;}

}
    @media(max-width:440px){
                            .group a{font-size:0.8rem;}
                            #mobile table.tablesorter tr.line{border-bottom: #555;}  
}
@media(max-width:375px){
    #mobile{min-height:330px;margin: 0px auto;}
}