    .writerdetail_Wp{display: flex;}
    .hd{display: flex;justify-content:space-between;align-items: center; padding: 8px;box-sizing: border-box;background-color: #f8f8f8;border-bottom: 1px solid #ddd;}
    .hd h1{font-size:1.2rem;color: #222;font-weight: normal;margin-left: 5px;}
    .left{width:65%;padding-left:10px;box-sizing: border-box;}
    .left h1{color: #555;}
    .left .title{border-bottom: 2px dotted #ddd;padding-bottom: 8px; box-sizing: border-box;}
    .left .title ul{display: flex;align-items: flex-end;}
    .left .title ul li{margin: 0 10px;color:#1B6393; }
    .left .title ul li:nth-of-type(1){margin-left: 0;}
    .content{padding-top: 20px;box-sizing: border-box;}
    .right{width: 34%;margin-left: 1%;}
    .right .hd h1{width: 100%; text-align: center;color:#1B6393;}
    .right .up{width:100%;margin:20px auto;margin-top: 0; display: block;text-align: center;padding:30px 40px;box-sizing: border-box;box-shadow: 1px 1px 5px rgba(187, 187, 187, 0.51);}
    .right .down{display: block;text-align: center;padding-top: 30px;box-sizing: border-box;}
    .right .up img{width: 100px;height: 100px;border-radius:50%;background-color: #000;margin-bottom: 20px;}
    .right .up .r1{width: 150px;margin: 0 auto;text-align: left;padding-left:20px;box-sizing: border-box ;}
    .right .up .r2,.right .up .r3{width:90%;margin: 0 auto;text-align: left;padding-left:30px;box-sizing: border-box;}
    .right .up p{width:100%;text-align: left;}
    .right .up .r2 li,.right .up .r3 li{color: #555;list-style:disc;font-size: 0.9rem;}
    .right .up .hd_m{width:65%;border-bottom: 3px solid #1B6393;margin:40px auto;margin-bottom:10px; box-sizing: border-box;color:#1B6393;}
    .right .up p{color: #555;font-size: 0.9rem;line-height: 1.3rem;}
    .right .down .vc{width:100%;margin:20px auto;margin-top: 0; display: block;text-align: center;padding:30px 40px;box-sizing: border-box;box-shadow: 1px 1px 5px rgba(187, 187, 187, 0.51);}
    .right .down .vc li{width:80%;margin: 10px auto;}
    .right .down .vc li img{width:100%;height:180px;background-color: #000;}
    .right .down .vc li p{padding-bottom:5px;box-sizing: border-box;border:1px solid #ddd;border-top:0;}
    .right .article{width:100%;margin:20px auto;margin-top:0;display: block;text-align: left;padding:30px 0;padding-left:20px;box-sizing: border-box;box-shadow: 1px 1px 5px rgba(187, 187, 187, 0.51);}
    .right .article li{cursor: pointer;color: #555;}
    .right .article li:hover{color:#f44336;}
    .right .ac{width:100%;margin:20px auto;margin-top:0;display: block;text-align: left;padding:30px 0;padding-left:20px;box-sizing: border-box;box-shadow: 1px 1px 5px rgba(187, 187, 187, 0.51);}
    .right .ac li{line-height: 2rem;height:2rem;width:100%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #444;}
    .right .ac li:before{content: '▪ ';}
    .right .ac li:hover{color:#f44336;}
.right .fb .fb_p{width:100%;margin:20px auto;margin-top:0;display: block;text-align:center;padding:30px 0;box-sizing: border-box;box-shadow: 1px 1px 5px rgba(187, 187, 187, 0.51);}
    .love{display: block; width:50px;height: 26px; margin:0 1%; background: url(../img/video/love.png) no-repeat center;background-size: contain;cursor: pointer;}
@media(max-width:1200px){
    .right .down .vc li{width: 95%;}
}    
@media(max-width:1109px){
        .right{width:29%;}
        .left{width: 70%;}
        .right .down .vc li{width:100%;}
        .right .down .vc li p{width:100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
    } 
@media(max-width:1080px){
    .right .up,.right .down .vc{padding:30px 20px;}
}
    @media(max-width:962px){
        .right{display: none;}
        .left{width: 100%;} 
        .left h1{font-size: 1.8rem;}
    }
    @media(max-width:700px){
        .left{padding-right: 10px;}
        .left h1{font-size:1.6rem;}
        .content img{width: 100%;}
    }
    @media(max-width:500px){
        .left h1{font-size:1.3rem;color: #444;}
        .left .title ul li{font-size: 0.9rem;}
    }
    @media(max-width:414px){
        .fb{width: 20px;overflow: hidden;}
        .love{background: none;width: auto;}
        .love:before{content:'❤';color:#f44336;}
        .left .title ul li{margin: 0 5px;}
    }