    /*
    Flaticon icon font: Flaticon
    Creation date: 18/07/2017 12:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-school-2:before { content: "\f100"; }
.flaticon-university:before { content: "\f101"; }
.flaticon-front:before { content: "\f102"; }
.flaticon-monument:before { content: "\f103"; }
.flaticon-money-4:before { content: "\f104"; }
.flaticon-buildings:before { content: "\f105"; }
.flaticon-money:before { content: "\f106"; }
.flaticon-dollar-central-bank-building:before { content: "\f107"; }
.flaticon-maps-and-flags:before { content: "\f108"; }
.flaticon-school-3:before { content: "\f109"; }
.flaticon-education:before { content: "\f10a"; }
.flaticon-school:before { content: "\f10b"; }
.flaticon-school-1:before { content: "\f10c"; }
.flaticon-analytics-1:before { content: "\f10d"; }
.flaticon-analytics:before { content: "\f10e"; }
.flaticon-presentation-board-with-graph:before { content: "\f10f"; }
.flaticon-money-bag-with-dollar-symbol:before { content: "\f110"; }
.flaticon-money-6:before { content: "\f111"; }
.flaticon-money-5:before { content: "\f112"; }
.flaticon-two:before { content: "\f113"; }
.flaticon-black-1:before { content: "\f114"; }
.flaticon-money-2:before { content: "\f115"; }
.flaticon-money-3:before { content: "\f116"; }
.flaticon-money-1:before { content: "\f117"; }
.flaticon-arrows:before { content: "\f118"; }
.flaticon-medical:before { content: "\f119"; }
.flaticon-sale:before { content: "\f11a"; }
.flaticon-fire:before { content: "\f11b"; }
.flaticon-tool:before { content: "\f11c"; }
.flaticon-commerce:before { content: "\f11d"; }
.flaticon-magnifier:before { content: "\f11e"; }
.flaticon-profile:before { content: "\f11f"; }
.flaticon-facebook-logo:before { content: "\f120"; }
.flaticon-line-logo:before { content: "\f121"; }
.flaticon-faq:before { content: "\f122"; }
.flaticon-business-statistics-graphic:before { content: "\f123"; }
.flaticon-travel:before { content: "\f124"; }
.flaticon-globe:before { content: "\f125"; }
.flaticon-settings-gears:before { content: "\f126"; }
.flaticon-diamond-1:before { content: "\f127"; }
.flaticon-diamond:before { content: "\f128"; }
.flaticon-people-1:before { content: "\f129"; }
.flaticon-black:before { content: "\f12a"; }
.flaticon-dialog-1:before { content: "\f12b"; }
.flaticon-dialog:before { content: "\f12c"; }
.flaticon-checked-buttom:before { content: "\f12d"; }
.flaticon-thumbs-up:before { content: "\f12e"; }
.flaticon-people:before { content: "\f12f"; }
.flaticon-phone:before { content: "\f130"; }
    
    $font-Flaticon-school-2: "\f100";
    $font-Flaticon-university: "\f101";
    $font-Flaticon-front: "\f102";
    $font-Flaticon-monument: "\f103";
    $font-Flaticon-money-4: "\f104";
    $font-Flaticon-buildings: "\f105";
    $font-Flaticon-money: "\f106";
    $font-Flaticon-dollar-central-bank-building: "\f107";
    $font-Flaticon-maps-and-flags: "\f108";
    $font-Flaticon-school-3: "\f109";
    $font-Flaticon-education: "\f10a";
    $font-Flaticon-school: "\f10b";
    $font-Flaticon-school-1: "\f10c";
    $font-Flaticon-analytics-1: "\f10d";
    $font-Flaticon-analytics: "\f10e";
    $font-Flaticon-presentation-board-with-graph: "\f10f";
    $font-Flaticon-money-bag-with-dollar-symbol: "\f110";
    $font-Flaticon-money-6: "\f111";
    $font-Flaticon-money-5: "\f112";
    $font-Flaticon-two: "\f113";
    $font-Flaticon-black-1: "\f114";
    $font-Flaticon-money-2: "\f115";
    $font-Flaticon-money-3: "\f116";
    $font-Flaticon-money-1: "\f117";
    $font-Flaticon-arrows: "\f118";
    $font-Flaticon-medical: "\f119";
    $font-Flaticon-sale: "\f11a";
    $font-Flaticon-fire: "\f11b";
    $font-Flaticon-tool: "\f11c";
    $font-Flaticon-commerce: "\f11d";
    $font-Flaticon-magnifier: "\f11e";
    $font-Flaticon-profile: "\f11f";
    $font-Flaticon-facebook-logo: "\f120";
    $font-Flaticon-line-logo: "\f121";
    $font-Flaticon-faq: "\f122";
    $font-Flaticon-business-statistics-graphic: "\f123";
    $font-Flaticon-travel: "\f124";
    $font-Flaticon-globe: "\f125";
    $font-Flaticon-settings-gears: "\f126";
    $font-Flaticon-diamond-1: "\f127";
    $font-Flaticon-diamond: "\f128";
    $font-Flaticon-people-1: "\f129";
    $font-Flaticon-black: "\f12a";
    $font-Flaticon-dialog-1: "\f12b";
    $font-Flaticon-dialog: "\f12c";
    $font-Flaticon-checked-buttom: "\f12d";
    $font-Flaticon-thumbs-up: "\f12e";
    $font-Flaticon-people: "\f12f";
    $font-Flaticon-phone: "\f130";